*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* --webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}

body:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(38, 14, 39, 0.068);
    pointer-events: none;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: rgb(155, 138, 46); */
    font-family: 'Rubik', sans-serif;
}

.logo {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
}

.logo a{
    text-decoration: none; 
    color: rgb(247, 224, 224);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a{
    color: rgb(247, 224, 224);
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-links li a:hover{
    /* background-color: #0dca13; */
    border: none;
    color: rgb(250, 243, 243);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
    font-weight: bold;
}

.section{
    margin-top: 20rem;
}

.eui-links{
    display: flex;
    justify-content: center;
}

.eui-links li{
    list-style-type: none;
    width: 20%;
    text-align: center;
}

.eui-links li a{
    color: white;
    border: .2px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Rubik', 'sans-serif';
    font-weight: bolder;
    padding: 15px;
    letter-spacing: 2px;
}

.eui-links li a:hover{
    background-color: rgb(223, 245, 23);
    color: black;
    border: none;
    transition: 0.5s ease-in;
}

footer{
    margin-bottom: 20px;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    font-family: 'Rubik', 'sans-serif';
}